.App {
  text-align: center;
}

.App-logo {
  max-width: 500px;
  width: 100%;
}

.App-header {
  padding: 20px;
  margin-bottom: 50px;
}

.App-intro {
  font-size: large;
}

.btn {
  margin: 20px;
  width: 200px;
}
