.App {
  text-align: center;
}

.App .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.App .row.Header {
  background-color: #CCC;
}

.App .row.IntroText {
  background-color: #FFF;
}

.App .row.IntroVid {
  background-color: #FFF;
}

.App .row.Buttons {
  background-color: #FFF;
}

.App .row.Stars {
  background-color: #FFF;
}

.App .row.Footer {
  background-color: #CCC;
}

.App-logo {
  max-width: 500px;
  width: 100%;
}

.App-header {
  padding: 20px;
  margin-bottom: 50px;
}

.App-intro {
  font-size: large;
}

.btn {
  margin: 20px;
  width: 200px;
}

.homeContainer {
  transition:
    opacity 1s,
    transform 1s 1s;
}

.loanQuestionsContainer {
  transition:
    opacity 1s,
    transform 1s;
}

.video {
  margin: 0 auto;
  padding: 10px;
}

.product-btn {
  height: 100px;
  border: 1px black solid;
  border-radius: 5px;
  cursor: pointer;
}



.bg-orange {
  background-color: #fa6710 !important;
}

.bg-red {
  background-color: red !important;
}
.bg-yellow {
  background-color: #feb904 !important;
}

.bg-black {
  background-color: black !important;
}